
 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 100px;

  }
  
  /* header {
    background-color: pink;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  } */

  header {
    background-color: blue;
    padding: 200px;
    justify-content: center;
   
  }
  
  .logo {
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    padding: 40px;
  }
 
form
{
  margin:  0 auto;
  display: block;
  text-align: center;
  width: 800px;
   
}

  input[type="text"] {
    width: 60%;
    padding: 15px;
    font-size: 16px;
    margin-right: 8px;
    border: none;
    border-radius: 500px;
    outline: none;
    
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    justify-content: center;
  }
  
  
  .categories {
    display:flex;
    justify-content:center;
    text-align: right;
    padding: 20px;
  }


  .categories a {
    background-color: #f2f2f2;
    color: black;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    display: flex;
    align-items:center;
  }
  
  .categories a:hover {
    background-color: #ddd;
  }
  
  .categories a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .categories img {
    height: 40px;
    width: 40px;
    margin-right: 10px;
    text-align: center;
  }
  
  .categories span {
    font-size: 18px;
    text-align: center;
  }
  
  .content {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
  }
  
  
  footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
  }
  